<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> Community </title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id=container>
<a href="{% url 'views.home' %}">
<div id=logo> <img src="{{ STATIC_URL }}images/logo.gif" width="213" height="77" />
</div>
</a>
<a href="{% url 'views.logout_user' %}"><p id=logout>Log Out</p></a>
<a href="{% url 'views.account' %}"><p id="account">Account</p></a>

<ul>
<a href="{% url 'views.community' %}">
<li class="outer" style="background-color:#66CCFF;">Community</li></a>

<a href="{% url 'views.home' %}">
<li class="outer"id=items>Items</li></a>
</ul>
<div id=center>
<div id=sidemenu>
<p>Friends</p>
<ul>
<a href="{% url 'ask' %}"><li class="inner">Ask</li></a>
<li class="inner" id="sidesel">Friends</li>
</ul>
</div>

<div id=list>
{% for user in users %}
<a href="{% url 'views.user' user.id %}">
<div class="item">
<img src="{{ MEDIA_URL }}{{ user.profile.picture|default:'empty.gif' }}" width="110" height="110">
{{ user.first_name|truncatechars:12 }}
</div>
</a>
{% endfor %}
</div>

<div id=empty>
</div>
</div>



<ul id=foot>
<li style="width:7em;" class="bottom">About us</li>
<li class="bottom">Contact</li>
</ul>
</div>
</body>
</html>
