<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
[x]
<ul style="text-align:left;


width:440px;	
font-size:24px;
color:#999999;
background-color:transparent;
float:left;
display:block;	
margin-left:10px;
word-wrap: break-word;
height:auto;
line-height:170%;">

<li>First Name:<textarea id="id_name" name="name">{{user.first_name}}
</textarea>    </li> 
<li>Last Name:<textarea id="id_name" name="name">{{user.last_name}}
</textarea>    </li> 
<li>Email:<textarea id="id_email" name="email">{{user.email}}
</textarea></li>
<li>Phone:<textarea id="id_phone" name="phone">{{user.phone}}
</textarea></li>
<li>
  Address:<textarea id="id_more" name="more">
{{user.address}}</textarea></li>


<img style="border:1px solid #999999; top:25px; right:25px; position:absolute;" src="empty.gif" width="170" height="170" /> 
</ul>

<ul>
<li class="pop">Save</li>
</ul>
</a>
</center>


</body>
</html>
