{% extends "base_items.html" %}

{% block label %}Add Item{% endblock %}

{% block add_link %}id="sidesel"{% endblock %}

{% block content %}
{% if form %}
    <div>
        <form id="form" action="" method="post" enctype="multipart/form-data" id="main">
            {% csrf_token %}
            <p style="position:absolute; font-size:24px;">Name:</p> 
            <fieldset id="addnamef">   
            <input type="text" name="name" {% if name %}value="{{ name }}"{% endif %} id="addname"/>
            </fieldset>
            <br/>

            <div id="addimage">
                <img src="{{ MEDIA_URL }}media/empty.gif" width="170" height="170" />
            </div>
            <br/>
            <input type="file" name="image" id="addurl"/><br/>

            <fieldset id="adddescf">      
            <p style="position:fixed; font-size:24px; margin-top:0;">Description: </p>
            <textarea id="id_desc" name="desc"  
            style="position:absolute;
            color:#999999;
            background-color:transparent;
            font-size:20px;
            left:0;
            top:-22px;
            height:100%;
            right:-70px;
            width:100%;
            padding-top:35px;
            border:none;
            overflow:auto;">{% if desc %}{{ desc }}{% endif %}</textarea>
              </fieldset>
            <br/>
            <input type="submit" value="Submit" class="inner" id="addsubmit">
            {% if errors %}
                <ul style="margin-top:-20px; color:red;">
                    {% for error in errors %}
                        <li> {{ error }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endif %}

{% if msg %}
    <p>{{ msg }}</p>
{% endif %}

{% if not form and not errors %}
    <div id="main">
        <p style="width:70%; margin-left:60px; font-size:26px;"> <a href="{% url 'views.item' item.id %}">Item {{ item.id }}</a> added succesfully!</p>
        <img src="{{ STATIC_URL}}images/snakeitem.gif" style="margin-left:100px;" width="300px" height="auto" />
    </div>
{% endif %}

{% endblock %}
