<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Re:Play</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id=container>
<a href="{% url 'views.home' %}">
<div id=logo>
<img src="{{ STATIC_URL }}images/logo.gif" width="213" height="77" />
</div>
</a>
<a href="{% url 'views.logout_user' %}"><p id=logout>Log Out</p></a>
<p id="account">Account</p>
<ul>
<a href="{% url 'views.community' %}">
<li class="outer">Community</li></a>
<li class="outer"id=items style="background-color:#66CCFF;">Items</li>
</ul>
<div id=center>
<div id=sidemenu>
<p>Items
</p>
<ul>
<a href="{% url 'views.home' %}"><li class="inner">All Items</li></a>
<a href="{% url 'views.user' id %}"><li class="inner">MyPage</li></a>
<li class="inner" id="sidesel">Add</li>
</ul>
</div>



<div>
    <form action="/added/" method="post" enctype="multipart/form-data" id="main">
			{%csrf_token%}
		
                
	<textarea id="id_name" name="name" 
 style="display:block;
width:88%;
height:24px;
text-decoration:none;
color:#999999;
background-color:white;
padding:10px 4% 10px 1.25%;
border:2px solid #999999;
margin: 20px;
font-size:20px;



">Name of Item...</textarea>

<div style="
position:static;
margin-left:20px;
float:left;
border:2px solid #999999;
">
  <img src="../static/images/empty.gif" width="170" height="170" /></div>
                 
                 
        <fieldset style="position:relative;
           margin-left:210px;
margin-right:25px;
width:auto;height:200px;border:2px solid #999999;
background-color:white;
           ">      
 <textarea id="id_desc" name="desc" style="
position:absolute;

color:#999999;
background-color:transparent;
font-size:20px;
left:0;
top:-20px;
height:212px;
right:-70px;
width:100%;

border:none;

overflow:auto;

">
Say something about the item you are adding.</textarea>     
  </fieldset>
                        

 <input type="file"  id="id_url" name="url" style="
position:static;
background-color:white;
border:2px solid #999999;
margin-left:20px;
margin-top:-30px;
width:170px;
height:20px;


" />



        <input class="inner" style="background-color:#FFCC66;
float:right;
margin-right:70px;
margin-top:20px;
width:300px;
margin-bottom:20px;
text-align:center;
cursor: pointer;

" type="submit" value="Add">
    </form>
    
    </div>
<div id=empty>
</div>
</div>



<ul id=foot>
<li style="width:7em;" class="bottom">About us</li>
<li class="bottom">Contact</li>
</ul>
</div>
</body>
</html>



