{% extends "base_items.html" %}

{% block label %}All Items{% endblock %}

{% block all_link %}id="sidesel"{% endblock %}

{% block content %}
<div id=list>
    {% for item in items %}
    <a href="{% url 'views.item' item.id %}">
        <div class="item"{% if item in noted_items %}style="border:3px solid #F50F1A; width:106px; height:124px;"{% endif %}>
            <img src="{{ item.image }}" width="110" height="110">
            {{ item.name|truncatechars:12 }}
        </div>
    </a>
    {% endfor %}

</div>
{% endblock %}
