<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Re:Play</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id=container>
<a href="{% url 'views.home' %}">
<div id=logo>
<img src="{{ STATIC_URL }}images/logo.gif" width="213" height="77" />
</div>
</a>
<a href="{% url 'views.logout_user' %}"><p id=logout>Log Out</p></a>
<a href="{% url 'views.account' %}"><p id="account">Account</p></a>
<ul>
<a href="{% url 'views.community' %}">
<li class="outer" style="background-color:#66CCFF;">Community</li></a>
<a href="{% url 'views.home' %}"><li class="outer"id=items>Items</li></a>
</ul>
<div id=center>
<div id=sidemenu>
<p>Friends</p>
<ul>
<a href="{% url 'ask' %}"><li class="inner" id="sidesel">Ask</li></a>
<a href="{% url 'views.community' %}"><li class="inner">Friends</li></a>
</ul>
</div>
	
			
			<div id="list">
				<ul class="stick">
    <li>
      <a href="#">
        <h2>{{ user.first_name }}</h2>
        <p>I want a puppy dog that is really really really really cute and brownish.</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>{{ user.first_name }}</h2>
        <p>Text I want a puppy dog that is really really really really cute and brownish. #2</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>{{ user.first_name }}</h2>
        <p>TI want a puppy dog that is really really really really cute and brownish.I want a puppy dog that is really really really really cute and brownish.</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>{{ user.first_name }}</h2>
        <p>TI want a puppy dog that is really really really really cute and brownish.4</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>{{ user.first_name }}</h2>
        <p>Textsdakdsakdskhasashkjdsahdkshksajhdaskjhdkajshdkjaskjdasgfjhgdjkfdksjafhsjdhkajshgkajhgkjjkhfgadhkjgh</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>{{ user.first_name }}</h2>
        <p>Text Content #6</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>{{ user.first_name }}</h2>
        <p>Text Content #2</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>{{ user.last_name }}</h2>
        <p>Text Content #7</p>
      </a>
    </li>
  
  </ul>
  </div>
           <div id=empty>
</div> 
</div>


<ul id=foot>
<li style="width:7em;" class="bottom">About us</li>
<li class="bottom">Contact</li>
</ul>
		</div>
	</body>
</html>








	
		
                





                 
                 
       


                        





 
