<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Re:Play</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id=container>
<a href="{% url 'views.home' %}">
<div id=logo>
<img src="{{ STATIC_URL }}images/logo.gif" width="213" height="77" />
</div>
</a>
<a href="{% url 'views.logout' %}"><p id=logout>Log Out</p></a>
<p id="account">Account</p>
<ul>
<a href="{% url 'views.community' %}">
<li class="outer" style="background-color:#66CCFF;">Community</li></a>
<li class="outer"id=items>Items</li>
</ul>
<div id=center>
<div id=sidemenu>
<p>Friends</p>
<ul>
<li class="inner">Ask</li>
<li class="inner" id="sidesel">Friends</li>
</ul>
</div>
		<div>
			
			<div id="main">
				<iframe src='http://padlet.com/embed/9ilbcdhc2g' frameborder='0' width='100%' height='480px' style='padding:0;margin:0;border:none'></iframe>
            <div id=empty>
</div>
</div>
</div>



<ul id=foot>
<li style="width:7em;" class="bottom">About us</li>
<li class="bottom">Contact</li>
</ul>
		</div>
	</body>
</html>








	
		
                





                 
                 
       


                        





 
