<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Re:Play</title>

<link href="{{ STATIC_URL }}css/mystyle.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
</head>

<body>

<div id="logo">
<div id="login">
{% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
{% endif %}
<form action="" method="post">
			{% csrf_token %}
ID: <br>
   <input class="forms" type="text"  name="identity">
   <br>
PW: <br><input class="forms" type="password" name="pwd">
<br />
<input  type="image" src="{{ STATIC_URL }}images/log.gif" id="arrow" width="37" height="37" border="0"  alt="Submit">
</form>
</div>

<img id="logo" src="{{ STATIC_URL }}images/re_play_login.gif" width="auto" height="auto" border="0" usemap="#Map"  />
</div>
<ul id=foot>
<li style="width:4em;" class="bottom"></li>
<a href="{% url 'views.about' %}"><li style="width:10em;" class="bottom">About Re:Play</li></a>
<a href="{% url 'views.contact' %}"><li class="bottom">Contact</li></a>

</ul>
</body>
</html>

