{% extends "base.html" %}
{% block userbar %}
<ul style="margin-top:58px;">
{% if title == 'About' %}
<a href="{% url 'views.contact' %}"><li class="outer">Contact</li></a>
<a href="{% url 'views.about' %}"><li class="outer" id=items style="background-color:#66CCFF;">About Us</li></a>
{% else %}
<a href="{% url 'views.contact' %}"><li class="outer" style="background-color:#66CCFF;">Contact</li></a>
<a href="{% url 'views.about' %}"><li class="outer" id=items>About Us</li></a>
{% endif %}
</ul>
{% endblock %}


<div id=center>
{% block label %}{{ title }}{% endblock %}
{% block content %}
<div id="info">

		{{ text|safe }}
        
</div>
<a href="{% url 'views.home' %}"><li class="inner" id="close">
Close
</li><a>
{% endblock %}

</div>

{% block footer %}
{% endblock %}
