<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Re:Play</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
</head>



<body>
<div id=container>
<a href="{% url 'views.home' %}">
<div id=logo>
<img src="{{ STATIC_URL }}images/logo.gif" width="213" height="77" />
</div>
</a>
<a href="{% url 'views.logout_user' %}"><p id=logout>Log Out</p></a>
<a href="{% url 'views.account' %}"><p id="account">Account</p></a>
<ul>
<a href="{% url 'ask' %}">
<li class="outer">Community</li></a>
<a href="{% url 'views.home' %}">
<li class="outer"id="items" style="background-color:#66CCFF;">Items</li></a>
</ul>
<div id=center>
<div id=sidemenu>
<p>Items
</p>
<ul>
<a href="{% url 'views.home' %}"><li class="inner">All Items</li></a>
<a href="{% url 'views.user' user.id %}"><li class="inner" id="sidesel">MyPage</li></a>


<a href="{% url 'views.add' %}"><li class="inner">Add</li></a>



</ul>
</div>

<div id="list">
{% if msg %}
{% if deleted %}
    <img src="{{ STATIC_URL}}images/snakeitem.gif" style="margin-left:100px;" width="300px" height="auto" />
{% endif %}
<p>{{ msg }}</p>
{% endif %}

{% for item in items %}
<a href="{% url 'views.item' item.id %}">
<div class="item" {% if item in noted_items %}style="border:3px solid #F50F1A; width:106px; height:124px;"{% endif %}>
<img src="{{ MEDIA_URL }}{{ item.image }}" width="110" height="110">
{{ item.name|truncatechars:12 }}
</div></a>
{% endfor %}
</div>
<div id=empty>
</div>
</div>
<ul id=foot>
		<a href="{% url 'views.about' %}"><li style="width:7em;" class="bottom">About us</li></a>
		<a href="{% url 'views.contact' %}"><li class="bottom">Contact</li></a>
</ul>
</div>
</body>
</html>
