<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id=container>
<div id=logo> <img src="logo.gif" width="213" height="77" />
</div>
<p id=logout>Log Out</p>
<ul>
<a href="community_friends.html">
<li class="outer">Community</li></a>
<li class="outer"id=items style="background-color:#66CCFF;">Items</li>
</ul>
<div id=center>
<div id=sidemenu>
<p>Items
</p>
<ul>
<li class="inner" id="sidesel">Items</li>

<a onmouseup="document.getElementById('tpfanbox').style.display='block'"><li class="inner"><center style="float:left;cursor:pointer;">&nbsp;&nbsp;Contact</center></li></a>

<a href="javascript: history.go(-1)">
<li class="inner">Back</li>
</a>
</ul>
</div>

<div style="
border:1px solid #999999;	
text-decoration:none;
background-color:white;
height:55vh;
width:auto;
margin-left:170px;
margin-top:50px;
margin-right:30px;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;
min-width:400px;
min-height:400px;
margin-bottom:20px;
">
<div style="display:block;
width:auto;
text-decoration:none;
color:black;
margin: 20px;
margin-left:40px;
font-size:30px;
overflow:hidden;


">Mouse</div>
<div style="
margin-left:20px;
float:left;
border:2px solid #999999;
">
  <img src="empty.gif" width="200" height="200" /></div>
<div style="
margin-left:240px;
margin-top:0px;
margin-right:20px;
height:200px;

color:#999999;
background-color:white;
font-size:20px;
width:auto;
overflow:auto;

">
Tell us about this item...
</div>


<ul>
<a onmouseup="document.getElementById('tpfanbox').style.display='block'">
<li class="inner" style="background-color:#FC0;
float:right;
margin-top:30px;
width:auto;
margin-right:10%;
text-align:center;
">
<center style="float:left;cursor:pointer; padding-left:100px; padding-right:100px;">

Contact

</center></li>
</a>
<!--
<li class="inner" style="background-color:#C00;
float:left;
margin-top:30px;
margin-left:5%;
width:35%;

text-align:center;

">
Delete
</li>
-->
</div>

<div id=empty>
</div>
</div>

<!-- FACEBOOK LIKE BOX CSS POPUP WIDGET -->
<style type="text/css">
* html #tpfanbox{position:absolute}
#tpfanbox{top:0px;left:0px;width:100%;height:100%;margin:0;overflow-y:auto; z-index:9999}
#tpfanboxx{background-color:#fff; overflow:none}
.tpfanboxx{width:660px;min-height:300px;position:fixed;top:43%;left:50%;margin-top:-150px; margin-left:-330px;height:auto;
border:2px solid black; 
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px; 
padding:10px;
z-index:9999;}

</style>

<div id="tpfanbox">
<div id="tpfanboxx" class="tpfanboxx">
<br/>
<center style="margin:10px;cursor:pointer;"><a style=" font-size:12px; color:#606070; text-decoration:none;" onmouseup="document.getElementById('tpfanbox').style.display='none'">
<h3 style="position:absolute; top:0px; left:10px;">[x]</h3>
<ul>
<li class="pop">Name: Jung-Ho Sohn</li>
<li class="pop">Email: js2259@cornell.edu</li>
<li class="pop">Phone: 607-693-6817</li>
</ul>
<img style="border:1px solid #999999; top:25px; right:25px; position:absolute;" src="empty.gif" width="170" height="170" /> </a>
</center>

</div></div>


<script>

document.getElementById('tpfanbox').style.display='none';

</script>
<!-- FACEBOOK LIKE BOX CSS POPUP WIDGET -->


<ul id=foot>
<li style="width:7em;" class="bottom">About us</li>
<li class="bottom">Contact</li>
</ul>
</div>
</body>
</html>
