<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id=container>
<div id=logo> <img src="logo.gif" width="213" height="77" />
</div>
<a href="{% url 'views.logout' %}"><p id=logout>Log Out</p></a>
<p id="account">Account</p>
<ul>
<a href="community_friends.html">
<li class="outer">Community</li></a>
<li class="outer"id=items style="background-color:#66CCFF;">Items</li>
</ul>
<div id=center>
<div id=sidemenu>
<p>Items
</p>
<ul>
<a href="items_allitems.html"><li class="inner">All Items</li></a>
<a href="items_mypage.html"><li class="inner">MyPage</li></a>
<a href="items_add.html"><li class="inner">Add</li></a>
<a href="javascript: history.go(-1)">
<li class="inner">Back</li>
</a>
</ul>
</div>

<div style="
border:1px solid #999999;	
text-decoration:none;
background-color:white;
height:55vh;
width:auto;
margin-left:170px;
margin-top:50px;
margin-right:30px;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;
min-width:400px;
min-height:400px;
margin-bottom:20px;
">
<div style="display:block;
width:auto;
text-decoration:none;
color:black;
margin: 20px;
margin-left:40px;
font-size:30px;
overflow:hidden;


">Mouse</div>
<div style="
margin-left:20px;
float:left;
border:2px solid #999999;
">
  <img src="empty.gif" width="200" height="200" /></div>
<div style="
margin-left:240px;
margin-top:0px;
margin-right:20px;
height:200px;

color:#999999;
background-color:white;
font-size:20px;
width:auto;
overflow:auto;

">
Tell us about this item...
</div>


<ul>
<a href="items_edit.html">
<li class="inner" style="background-color:#FFCC66;
float:left;
margin-top:30px;
width:35%;
margin-left:12%;
text-align:center;
">
Edit
</li>
</a>

<li class="inner" style="background-color:#C00;
float:left;
margin-top:30px;
margin-left:5%;
width:35%;

text-align:center;

">
Delete
</li>
</ul>
</div>

<div id=empty>
</div>
</div>




<ul id=foot>
<li style="width:7em;" class="bottom">About us</li>
<li class="bottom">Contact</li>
</ul>
</div>
</body>
</html>
