<div id=container>
<div id=logo> <img src="{{ STATIC_URL }}images/logo.gif" width="213" height="77" />
</div>
<p id=logout>Log Out</p>
<p id="account">Account</p>
<ul>
  <a href="community_friends.html">
  <li class="outer">Community</li></a>
<li class="outer"id=items style="background-color:#66CCFF;">Items</li>
</ul>
<div id=center>
<div id=sidemenu>
<p>Items
</p>
<ul>
<a href="{% 'views.add' %}><li class="inner">All Items</li></a>
<a href="items_mypage.html"><li class="inner">MyPage</li></a>
<li class="inner" id="sidesel">Add</li>
</ul>
</div>


