<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ item.name }} </title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id=container>
<a href="{% url 'views.home' %}">
<div id=logo><img src="{{ STATIC_URL }}images/logo.gif" width="213" height="77" />
</div>
</a>
<a href="{% url 'views.logout_user' %}"><p id=logout>Log Out</p></a>
<a href="{% url 'views.account' %}"><p id="account">Account</p></a>
<ul>
<a href="{% url 'views.community' %}">
<li class="outer">Community</li></a>
<a href="{% url 'views.home' %}"><li class="outer"id=items style="background-color:#66CCFF;">Items</li></a>
</ul>
<div id=center>
<div id=sidemenu>
<p>Items
</p>
<ul>
<a href="{% url 'views.home' %}"><li class="inner" id="sidesel">Items</li></a>

<a onmouseup="document.getElementById('tpfanbox').style.display='block'"><li class="inner"><center style="float:left;cursor:pointer;">&nbsp;&nbsp;Contact</center></li></a>

<a href="javascript: history.go(-1)">
<li class="inner">Back</li>
</a>
</ul>
</div>


{% if errors %}
<ul>
    {% for error in errors %}
    <li> {{ error }} </li>
    {% endfor %}
{% endif %}
</ul>
{% if item %}
{% if edited and not errors %}
            <div id="main">
				<p style="width:70%; margin-left:60px; font-size:26px;"> <a href="{% url 'views.item' item.id %}">Item {{ item.id }}</a> edited succesfully!</p>
                <img src="{{ STATIC_URL}}images/snakeitem.gif" style="margin-left:100px;" width="300px" height="auto" />
                </div>
                
{% else %}

{% if edit and yours %}
<div>
<form action="" method="post" enctype="multipart/form-data" id="main">
				{% csrf_token %}
                <p style="position:absolute; font-size:24px;">Name:</p> 
                 <fieldset id="addnamef">   
				<input type="text" name="name" value="{{ item.name }}" id="addname"/>
</fieldset><br/>

<div id="addimage">
  <img src="{{ MEDIA_URL }}{{ item.image|default:"media/empty.gif"}}" width="170" height="170" /></div><br/>
  	<input type="file" name="image" id="addurl"/><br/>


 <fieldset id="adddescf">      
				<p style="position:fixed; font-size:24px; margin-top:0;">Description: </p>
               <textarea id="id_desc" name="desc" 
               style="position:absolute;
color:#999999;
background-color:transparent;
font-size:20px;
left:0;
top:-22px;
height:100%;
right:-70px;
width:100%;
padding-top:35px;
border:none;
overflow:auto;">
{{ item.description }}
</textarea>
                  </fieldset>
				<br/>
			
				<input type="submit" value="Submit" class="inner" id="addsubmit">
			<form/>
</div>
{% else %}
<div id="main">
{% if note %}
<p id="notification">Notification from {{ note.sent_from }} on {{ note.date}}</p>
{% endif %}
		<div id="viewname">A {{ item.name }} </div>
                    
<div id="viewimage">
  <img src="{{ MEDIA_URL }}{{ item.image }}" width="200" height="200" /></div>
		<div id="viewdesc"> {{ item.description }} 

{% if sent %}
<p>{{ owner }} notified succesfully!</p>
{% endif %}

</div>

<div id="viewowner"> 
{% if yours %}
Your
{% else %}
{{ owner.first_name }}'s 
{% endif %}
Item 
</div>


{% if yours %}

<ul>
<a href="{% url 'views.edit' item.id %}">
<li class="inner" id="viewedit">
Edit
</li>
</a>
<a href="{% url 'views.delete' item.id %}">
<li class="inner" id="viewdelete">
Delete
</li>
</a>
</ul>
{% else %}

<ul>
<a onmouseup="document.getElementById('tpfanbox').style.display='block'">
<center class="inner" id="viewcontact">
<li >
Contact
</li></center>
</a>

<a href="{% url 'views.notify' item.id %}">
<li class="inner" id="viewnotify">
Notify
</li>
</a>
</ul>

{% endif %}
{% endif %}




{% endif %}

{% else %}
<p style="font-size:26px; margin-left:40%;margin-right:60%;">The item you chose does not exist. </p>
 <img src="{{ STATIC_URL}}images/sadsnake.gif" style="margin-left:220px;" width="300px" height="auto" />
{% endif %}
</div>

<div id=empty>
</div>
</div>

<!-- FACEBOOK LIKE BOX CSS POPUP WIDGET -->
<style type="text/css">
* html #tpfanbox{position:absolute}
#tpfanbox{top:0px;left:0px;width:100%;height:100%;margin:0;overflow-y:auto; z-index:9999}
#tpfanboxx{background-color:#fff; overflow:none}
.tpfanboxx{width:660px;min-height:300px;position:fixed;top:43%;left:50%;margin-top:-150px; margin-left:-330px;height:auto;
border:2px solid black; 
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px; 
padding:10px;
z-index:9999;}

</style>

<div id="tpfanbox">
<div id="tpfanboxx" class="tpfanboxx">
<br/>
<center style="margin:10px;cursor:pointer;"><a style=" font-size:12px; color:#606070; text-decoration:none;" onmouseup="document.getElementById('tpfanbox').style.display='none'">
<h3 style="position:absolute; top:0px; left:10px;">[x]</h3>
<ul>
<li class="pop"><strong>Name:</strong> {{ owner.get_full_name|default:"None" }}</li>
<li class="pop"><strong>Email:</strong> {{ owner.email|default:"None" }}</li>
<li class="pop"><strong>Phone: </strong> {{ owner.profile.telephone|default:"None" }} </li>
<li class="pop"><strong>Address: </strong> {{ owner.profile.address|default:"None" }} </li>
</ul>
<img style="border:1px solid #999999; top:25px; right:25px; position:absolute;" src="{{ MEDIA_URL }}{{ owner.profile.picture |default:"media/empty.gif" }}" width="170" height="170" /> </a>
</center>

</div></div>


<script>

document.getElementById('tpfanbox').style.display='none';

</script>
<!-- FACEBOOK LIKE BOX CSS POPUP WIDGET -->


<ul id=foot>
<li style="width:7em;" class="bottom">About us</li>
<li class="bottom">Contact</li>
</ul>
</div>
</body>
</html>

